.container{
	width:99%;
	color:black;

	h1{
			text-align:center;
			width:25%;
			border-bottom:solid black 2px;
			margin: 2% 0 3% 36%;
		}

	#navbar{
			width:99%;
			padding-top:38%;
			padding-bottom:10%;
			background: url(image/fond-navbar6.jpg) no-repeat ;
			-webkit-background-size:cover;
			color:white;

			.fondement{
				width:100%;
				margin-left:2px;
				background-color:#DB4E5B;
				opacity:0.5;

			}

			.col-sm-6{
				text-align:center;

				h2{
				font-size:50px;

				}

				p{
					font-size:24px;
				}
			}

			.navbar_text_small{
				font-size:18px;
			}
	}

	#presentation{
		text-align:center;
		padding-top:3%;
		font-size:18px;
		background-color:#e5838c;

		.col-sm-8{
			padding:2% 0;
			line-height:1.7em;
			font-size:24px;
		}

		.col-sm-10{
			padding-bottom:4%;
			font-size:21px;
		}
	}

	#about_Me{
		padding: 4% 0% 10% 1%;
		background-color:#f4c9cd;

		.col-sm-4{
			height:500px;
			text-align:center;
			line-height:1.8em;
			padding-top:3%;
		}

		p{
			font-size:21px;
			font-family:Arial;
		}

		.competence{
			height:300px;
		}

		h1{
			padding-top:2%;
		}

		.general{
			padding-top:20px;
		}
	}

	#projets{
		padding-top:8%;
		background-color:#f4c9cd;

		.col-sm-6{
			width:42%;
			margin: 6% 0% 7% 4%;
	
			p{
				text-align:center;
				width: 95%;
				margin-top:5%;
				margin-left:4%;
				font-size:20px;

				img{
					width:300px;
					margin-bottom:3%;
				}	
			}
		}
	}

	#contact{
		padding-top:4%;
		font-size:23px;
		padding-bottom:2%;
		background-color:#e5838c;

			p{
				padding-top:5%;
				margin-left:26%;
				margin-bottom:6%;
			}
	}

	#footer{
		text-align:center;
		font-size:16px;
	
		div{
		padding-top:2%;
		padding-bottom:1%;
		background-color:black;
		color:#A9A9A9;
		}
	}
}	

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
@media screen and (min-width:600px) and (max-width:1050px){

	.container #navbar{

		.fondement{
			margin-top:2%;
			background-color:#DA907A;
			opacity:0.7;
		}

		.col-sm-6{
			margin-left:27%;	
			color:white;

			h2{
				font-size:50px;
			}

			p{	font-size:21px;}
		}
	}

	.container #presentation{
		background-color:#DA907A;
	}

	.container #about_Me{
		background-color:#e8bcaf;
		margin-top:0%;
		margin-bottom:0%;

		div{
			height:750px;
			
			padding-left:5px;
		}

		h1{
			padding-top:10%;
			margin-top:0%;
		}	
	}	


	.container #projets{
		background-color:#e8bcaf;
		margin-top:0%;

		h1{
			padding-top:8%;
			width:50%;
			margin-left:25%;
			margin-top:0%;

		}

		.col-sm-6{

			p{
				width:110%;
				text-align:left;

				img{
					width:70%;
					padding-top:3%;
					padding-left:1%;
				}
			}
		}
	}
	
	.container #contact{
		background-color:#DA907A;
		margin-top:0%;

		h1{
			padding-top:4%;
			width:50%;
			margin-left:25%;
			margin-top:0%;
		}

		.col-sm-6{
			padding:15px 0 15px 0;
			font-size:20px;

		}
	}

	.container #footer div{
		background-color:#0c0c0c;
	}
}	

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
@media screen and (max-width:767px){

	.container h1{
		width:50%;
		margin-left:25%;
		font-size:28px;
	}

	.container #navbar{
		background: url(image/clavier8.png) no-repeat ;

		.fondement{
			margin-top:47%;
			background-color:#9AD2CB;
			opacity:0.8;
			margin-left:0px;
			
		}

		.col-xs-10{
			margin-bottom:2%;
			color:white;
			padding-top:10%;		

			h2{
				font-size:38px;
				margin-top:0%;
			}
			
			p{
				font-size:13px;
			}
		}
	}

	.container #presentation{
		background-color:#9AD2CB;

		.col-xs-10{
		font-size:15px;
		padding-top:10%;

		}
	}

	.container #about_Me{
		margin-top:0%;
		background-color:#cce8e5;

		p{
			font-size:16px;
		}

		h2{
			font-size:23px;
		}

		.col-xs-12{
			margin-bottom:-10%;
		}

		.competence h2{
			padding-top:20%;
		}

		h1{
			padding-top:30%;
			margin-top:0%;
		}
	}

	.container #projets{
		background-color:#cce8e5;

		h1{
			margin-top:0%;
		}

		.col-xs-10{
			width:100%;

			p {
				font-size:15px;
				margin-left:0%;
				img {
					margin-top:6%;
					padding-bottom:10%;
					width:70%;
				}
			}
		}
	}

	.container #contact{
		padding-bottom:30px;
		margin-top:0%;
		background-color:#9AD2CB;

			h1{
				width:73%;
				margin-left:15%;
				font-size:25px;
				padding-top:10%;
				margin-top:0%;
			}

			.col-xs-11{
				margin-top:4%;
				font-size:14px;
			}

	}

	.container #footer p{
		font-size:9px;
	}
}