.container{
	width:100%;

	h1{
			text-align:center;
			width:25%;
			border-bottom:solid black 1px;
			margin: 2% 0 3% 36%;
		}

	#navbar{
		background-color:rgb(250, 240, 230);
		padding-top:32%;
		height:700px;

		.navbar_text{
			text-align:center;
			height:65%;
			margin: 0% 40% 40% 38%;
			border: solid black 1px;
		}

		h2{
			font-size:40px;
			height:90px;
			margin-top:0%;
			margin-bottom:-10%;
			padding-top:5%;
		}
		
		.navbar_text_small{
			font-size:20px;
		}
	}

	.presentation{
		color:blue;
		text-align:center;
		/*background-color: rgb(143, 89, 34);*/
		padding-top:3%;

		.text-center{
			color:black;
			padding:1% 0;
			font-size:18px;
			width:40%;
			margin-left:28%;
			margin-bottom:-5px;
			line-height:2em;
		}

		.quote{
			color:black;
			font-size:18px;
			
		}
	}

	#about_Me{
		margin-top: 7%;


		.col-sm-4{
		height:500px;
		text-align:center;
		line-height:1.8em;
		padding-top:3%;
		}

		p{
		font-size:16px;
		font-family:Arial;
		}

		.competence{
		height:300px;
		}

		.general{
		padding-top:20px;
		}

	}

	#projets{
		margin-top:7%;


		.col-sm-6{
		width:42%;
		margin-left: 4%;
		margin-bottom:2%;
		position:relative;
	

			p{
			float:left;
			text-align:center;
			width: 95%;
			margin-top:5%;
			margin-left:4%;
			font-size:17px;

				img{
					float:left;
					width:100px;
				}
				


			}

		}
	}

	#contact{
		margin-top:5%;
		font-size:21px;
		margin-bottom:3%;

		p{
			margin-left:26%;
		}
	}

	.footer{
		text-align:center;
	}

}	
